iot2040-nodered.json
[{"id":"da6f4016.4fa358","type":"tab","label":"No touch button","disabled":false,"info":""},{"id":"5feb981.dff0c68","type":"tab","label":"running text","disabled":false,"info":""},{"id":"ee7adb2a.16e79","type":"serial-port","serialport":"","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"18a0a031.401168","type":"comment","z":"da6f4016.4fa358","name":"No Touch Button Action","info":"","x":140,"y":100,"wires":[]},{"id":"51ffd837.1435c8","type":"debug","z":"da6f4016.4fa358","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":200,"wires":[]},{"id":"5406f3fe.d4f524","type":"exec","z":"da6f4016.4fa358","command":"mraa-gpio get 4","addpay":"","append":"","useSpawn":"true","timer":"","name":"","x":140,"y":220,"wires":[["8608dfd8.c40c9"],[],["a4b71d1.18ffe6"]]},{"id":"5f3ae4b0.d2ccfc","type":"inject","z":"da6f4016.4fa358","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":110,"y":140,"wires":[["5406f3fe.d4f524"]]},{"id":"a4b71d1.18ffe6","type":"switch","z":"da6f4016.4fa358","name":"retrigger on timeout","property":"$boolean(msg.payload.code)","propertyType":"jsonata","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":130,"y":320,"wires":[["5406f3fe.d4f524"]]},{"id":"8608dfd8.c40c9","type":"function","z":"da6f4016.4fa358","name":"Convert to String","func":"var match = msg.payload.match(/Pin 4 = (\\d+)/);\nif (match) {\n    msg.payload = parseInt(match[1]);\n} else {\n    msg.payload = null; // Set to null if no match found\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":200,"wires":[["51ffd837.1435c8"]]},{"id":"9494a863.242e9","type":"exec","z":"5feb981.dff0c68","command":"cat  /dev/tty1","addpay":true,"append":"","useSpawn":"true","timer":"","name":"","x":130,"y":440,"wires":[["435000b5.a16af8","a0b61b17.31d9"],["d8377830.e1be08"],["44a5f15d.0aabf8"]]},{"id":"29d3adc9.b54b7a","type":"inject","z":"5feb981.dff0c68","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":110,"y":360,"wires":[["9494a863.242e9"]]},{"id":"44a5f15d.0aabf8","type":"switch","z":"5feb981.dff0c68","name":"retrigger on timeout","property":"$boolean(msg.payload.code)","propertyType":"jsonata","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":130,"y":540,"wires":[["9494a863.242e9"]]},{"id":"4507b104.116cb8","type":"exec","z":"5feb981.dff0c68","command":"echo  > /dev/ttyS0","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Send Running Text","x":730,"y":320,"wires":[[],["b1082cf7.517608"],["79688e94.8c60f"]]},{"id":"f056c23a.400fc8","type":"switch","z":"5feb981.dff0c68","name":"looping condition","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"5","vt":"num"},{"t":"lte","v":"5","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":680,"wires":[["43639304.98fc04"],["acf89657.b4aa4","50bd6556.3f47d4","29c03dae.94f51a"]]},{"id":"24c10961.50a4f6","type":"function","z":"5feb981.dff0c68","name":"increment","func":"var count = msg.payload;\nmsg.payload = count+1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":800,"wires":[["f056c23a.400fc8"]]},{"id":"50bd6556.3f47d4","type":"function","z":"5feb981.dff0c68","name":"send blink","func":"var count = msg.payload\nvar lasttext = global.get(\"lasttext\") || \"\";\nif(count%2==0){\n    msg.payload=\"\";\n}else{\n    msg.payload=lasttext;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":660,"wires":[["ff3f3565.ce7f88","1885be71.99ae6a"]]},{"id":"dc766e7d.b56b18","type":"function","z":"5feb981.dff0c68","name":"begin loop","func":" msg ={};\n msg.payload=1;\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":620,"wires":[["f056c23a.400fc8"]]},{"id":"1885be71.99ae6a","type":"exec","z":"5feb981.dff0c68","command":"echo  > /dev/ttyS0","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Send Running Text","x":1250,"y":580,"wires":[[],[],["58b0abff.50383c"]]},{"id":"ff3f3565.ce7f88","type":"debug","z":"5feb981.dff0c68","name":"send to LED debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1250,"y":640,"wires":[]},{"id":"acf89657.b4aa4","type":"delay","z":"5feb981.dff0c68","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":770,"y":720,"wires":[["24c10961.50a4f6"]]},{"id":"5dff89f9.a9277","type":"comment","z":"5feb981.dff0c68","name":"looping","info":"","x":750,"y":580,"wires":[]},{"id":"86ea2a33.009ab8","type":"comment","z":"5feb981.dff0c68","name":"show blank and text periodically","info":"","x":1230,"y":680,"wires":[]},{"id":"29c03dae.94f51a","type":"debug","z":"5feb981.dff0c68","name":"debug counter","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1020,"y":720,"wires":[]},{"id":"46c3415e.e9c398","type":"function","z":"5feb981.dff0c68","name":"clear","func":"msg.payload=\"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":600,"wires":[["1885be71.99ae6a"]]},{"id":"43639304.98fc04","type":"delay","z":"5feb981.dff0c68","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1000,"y":540,"wires":[["46c3415e.e9c398"]]},{"id":"cc4dd3ed.276b7","type":"http request","z":"5feb981.dff0c68","name":"send to server","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://10.10.100.9:8080/Service/QR/{{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":1060,"y":960,"wires":[["31b86329.043b74"]]},{"id":"80cf1cf.dd48ae","type":"debug","z":"5feb981.dff0c68","name":"debug server","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1470,"y":920,"wires":[]},{"id":"334e44c0.a6ccb4","type":"debug","z":"5feb981.dff0c68","name":"send to LED debug","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":280,"wires":[]},{"id":"435000b5.a16af8","type":"debug","z":"5feb981.dff0c68","name":"input","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":460,"wires":[]},{"id":"b1082cf7.517608","type":"debug","z":"5feb981.dff0c68","name":"error send led","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":300,"wires":[]},{"id":"d8377830.e1be08","type":"debug","z":"5feb981.dff0c68","name":"ERROR","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":360,"y":500,"wires":[]},{"id":"a0b61b17.31d9","type":"function","z":"5feb981.dff0c68","name":"enter and backspace logic","func":"var c = msg.payload;\nvar curtext = context.get(\"curtext\") || \"\";\nif (c === '\\n') {\n    global.set(\"lasttext\", curtext);\n    context.set(\"curtext\", \"\");\n    msg.payload = '';\n    return [null, null, msg]\n} else if(Buffer.isBuffer(c)){\n    curtext = curtext.substring(0, curtext.length-1);\n} else if(c.includes('\\n')){\n    curtext+=c\n    global.set(\"lasttext\", curtext);\n    context.set(\"curtext\", \"\");\n    return [null,msg, null]\n    \n} else{\n    if(/^[0-9]+$/.test(c)) {\n        curtext += c; \n    }\n}\ncontext.set(\"curtext\", curtext);\nmsg.payload = curtext;\nreturn [msg,null, null]\n\n// retrun:\n// 1. show in running text\n// 2. show and loop and sending to server (barcode)\n// 3. enter loop and sending to server\n","outputs":3,"noerr":0,"initialize":"","finalize":"","x":390,"y":340,"wires":[["4507b104.116cb8","334e44c0.a6ccb4"],["4507b104.116cb8","eef5cfc9.41a348","7babfdb0.bc342c"],["dc766e7d.b56b18","7babfdb0.bc342c"]]},{"id":"eef5cfc9.41a348","type":"delay","z":"5feb981.dff0c68","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":520,"wires":[["dc766e7d.b56b18"]]},{"id":"e1887ab3.3999c","type":"function","z":"5feb981.dff0c68","name":"Get Last Text","func":"var c = msg.payload\nvar lasttext = global.get(\"lasttext\") || \"\";\n\nmsg.payload=lasttext;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":940,"wires":[["4ad4996d.697c88","cc4dd3ed.276b7"]]},{"id":"c4d200cd.79b32","type":"comment","z":"5feb981.dff0c68","name":"get text and post to server","info":"","x":830,"y":900,"wires":[]},{"id":"79688e94.8c60f","type":"switch","z":"5feb981.dff0c68","name":"retrigger on timeout","property":"$boolean(msg.payload.code)","propertyType":"jsonata","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":380,"wires":[["4507b104.116cb8"]]},{"id":"58b0abff.50383c","type":"switch","z":"5feb981.dff0c68","name":"retrigger on timeout","property":"$boolean(msg.payload.code)","propertyType":"jsonata","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1250,"y":520,"wires":[["1885be71.99ae6a"]]},{"id":"27405fc6.d984e","type":"comment","z":"5feb981.dff0c68","name":"Input Keyboard/Barcode Action","info":"","x":130,"y":320,"wires":[]},{"id":"c9950242.4af648","type":"exec","z":"5feb981.dff0c68","command":"stty -F /dev/tty1 min 0 time 0","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":380,"y":120,"wires":[["f2cf1f32.3e379"],[],[]]},{"id":"f2cf1f32.3e379","type":"delay","z":"5feb981.dff0c68","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":200,"wires":[["c9950242.4af648"]]},{"id":"4ad4996d.697c88","type":"debug","z":"5feb981.dff0c68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1050,"y":900,"wires":[]},{"id":"31b86329.043b74","type":"switch","z":"5feb981.dff0c68","name":"Check Error","property":"statusCode","propertyType":"msg","rules":[{"t":"btwn","v":"200","vt":"num","v2":"299","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1290,"y":960,"wires":[["80cf1cf.dd48ae"],["48bada4f.d234cc"]]},{"id":"48bada4f.d234cc","type":"delay","z":"5feb981.dff0c68","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1040,"y":1020,"wires":[["187e31be.8b5a96"]]},{"id":"7babfdb0.bc342c","type":"function","z":"5feb981.dff0c68","name":"Initialize loop count","func":"msg.loop = 1\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":940,"wires":[["e1887ab3.3999c"]]},{"id":"187e31be.8b5a96","type":"switch","z":"5feb981.dff0c68","name":"Loop Condition","property":"loop","propertyType":"msg","rules":[{"t":"lte","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1040,"y":1100,"wires":[["b7963def.91789"]]},{"id":"b7963def.91789","type":"function","z":"5feb981.dff0c68","name":"Add loop +1","func":"var count = msg.loop;\nmsg.loop = count+1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":1020,"wires":[["e1887ab3.3999c"]]},{"id":"53f6cecf.b431","type":"inject","z":"5feb981.dff0c68","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1234567890","payloadType":"str","x":130,"y":260,"wires":[["a0b61b17.31d9"]]}]