node_red.json
[{"id":"1fa467ff.899398","type":"tab","label":"Main","disabled":false,"info":""},{"id":"1898c796.571e08","type":"exec","z":"1fa467ff.899398","command":"cat  /dev/tty1","addpay":true,"append":"","useSpawn":"true","timer":"999999","name":"","x":130,"y":200,"wires":[["def79556.5df778"],[],["dec310c.3137bf"]]},{"id":"7805e922.5ea828","type":"inject","z":"1fa467ff.899398","name":"","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":true,"topic":"","payload":"","payloadType":"date","x":110,"y":120,"wires":[["1898c796.571e08"]]},{"id":"dec310c.3137bf","type":"switch","z":"1fa467ff.899398","name":"retrigger on timeout","property":"$boolean(msg.payload)","propertyType":"jsonata","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":130,"y":300,"wires":[["1898c796.571e08"]]},{"id":"def79556.5df778","type":"function","z":"1fa467ff.899398","name":"enter and backspace logic","func":"var c = msg.payload;\nvar curtext = context.get(\"curtext\") || \"\";\nif (c === '\\n'){\n    global.set(\"lasttext\", curtext);\n    context.set(\"curtext\", \"\");\n    msg.payload = \"\";\n    return [null,msg]\n} else if(Buffer.isBuffer(c)){\n    curtext = curtext.substring(0, curtext.length-1);\n}else{\n    curtext+=c;\n}\ncontext.set(\"curtext\", curtext);\nmsg.payload = curtext;\nreturn [msg,null]\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":390,"y":100,"wires":[["52512636.16d098","c7b8d9a9.e4bfb8"],["a52160ec.d038b","c0bcc5c7.50f288","1faeb582.3490ca"]]},{"id":"a52160ec.d038b","type":"debug","z":"1fa467ff.899398","name":"send to server debug","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":560,"wires":[]},{"id":"52512636.16d098","type":"debug","z":"1fa467ff.899398","name":"send to LED debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":40,"wires":[]},{"id":"c7b8d9a9.e4bfb8","type":"exec","z":"1fa467ff.899398","command":"echo  > /dev/ttyS0","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Send Running Text","x":690,"y":100,"wires":[[],[],[]]},{"id":"8a5b953f.78fba8","type":"switch","z":"1fa467ff.899398","name":"looping condition","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"5","vt":"num"},{"t":"lte","v":"5","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":280,"wires":[["75f1ae70.eeee3"],["a34984fd.1b6e88","199e853.ea1497b","6ac49c7c.2fb954"]]},{"id":"788516c3.58d6a8","type":"function","z":"1fa467ff.899398","name":"increment","func":"var count = msg.payload;\nmsg.payload = count+1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":420,"wires":[["8a5b953f.78fba8"]]},{"id":"199e853.ea1497b","type":"function","z":"1fa467ff.899398","name":"send blink","func":"var count = msg.payload\nvar lasttext = global.get(\"lasttext\") || \"\";\nif(count%2==0){\n    msg.payload=\"\";\n}else{\n    msg.payload=lasttext;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":300,"wires":[["e0c417b8.210bc8","f6b9030f.33f62"]]},{"id":"c0bcc5c7.50f288","type":"function","z":"1fa467ff.899398","name":"begin loop","func":" msg ={};\n msg.payload=1;\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":240,"wires":[["8a5b953f.78fba8"]]},{"id":"f6b9030f.33f62","type":"exec","z":"1fa467ff.899398","command":"echo  > /dev/ttyS0","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Send Running Text","x":1210,"y":220,"wires":[[],[],[]]},{"id":"e0c417b8.210bc8","type":"debug","z":"1fa467ff.899398","name":"send to LED debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1210,"y":280,"wires":[]},{"id":"a34984fd.1b6e88","type":"delay","z":"1fa467ff.899398","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":690,"y":320,"wires":[["788516c3.58d6a8"]]},{"id":"8cdba240.9389c","type":"comment","z":"1fa467ff.899398","name":"looping","info":"","x":670,"y":200,"wires":[]},{"id":"8a158b42.021c88","type":"comment","z":"1fa467ff.899398","name":"show blank and text periodically","info":"","x":1190,"y":320,"wires":[]},{"id":"6ac49c7c.2fb954","type":"debug","z":"1fa467ff.899398","name":"debug counter","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":980,"y":360,"wires":[]},{"id":"fc040979.71e3b8","type":"function","z":"1fa467ff.899398","name":"clear","func":"msg.payload=\"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":240,"wires":[["f6b9030f.33f62"]]},{"id":"75f1ae70.eeee3","type":"delay","z":"1fa467ff.899398","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":960,"y":180,"wires":[["fc040979.71e3b8"]]},{"id":"1faeb582.3490ca","type":"http request","z":"1fa467ff.899398","name":"send to server","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":620,"y":520,"wires":[["8d4d249a.b02b98"]]},{"id":"8d4d249a.b02b98","type":"debug","z":"1fa467ff.899398","name":"debug server","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":860,"y":520,"wires":[]}]